@charset "UTF-8";

#wrap{
	width:1200px;
	height:800px;
}

header{
	height:70px;
}

.content{
	height:700px;
}

footer{
	height: 50px;
}

.login-box{
	
	width:400px;
	height:300px;
}
.zenlogin{
	background-color:skyblue;
	width:400px;
	height:350px;
}
.main-color{
	background-color:#32A4FF;
}
.zenlogup{
	background-color:skyblue;
	width:400px;
	height:500px;
}
.mainUser{
	font-size:13px;
}

.zencreated{
	background-color:skyblue;
	width:400px;
	height:750px;
}


